logicapp/logic_app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_all_files": {
                "actions": {
                    "Get_individual_file": {
                        "inputs": {
                            "authentication": {
                                "pfx": "@body('Parse_certificate_request_JSON')?['value']",
                                "type": "ClientCertificate"
                            },
                            "headers": {
                                "x-ms-file-id": "@{items('Get_all_files')['id']}"
                            },
                            "method": "GET",
                            "uri": "https://__$$WEBAPPNAME$$__.azurewebsites.net/filetransfer/file"
                        },
                        "runAfter": {},
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        },
                        "type": "Http"
                    },
                    "Write_file_to_blob_storage": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://storage.azure.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": "@body('Get_individual_file')",
                            "headers": {
                                "x-ms-blob-type": "BlockBlob",
                                "x-ms-version": "2019-02-02"
                            },
                            "method": "PUT",
                            "uri": "https://__$$STORAGEACCOUNTNAME$$__.blob.core.windows.net/data/@{item().name}"
                        },
                        "runAfter": {
                            "Get_individual_file": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    }
                },
                "foreach": "@body('Parse_file_listing_JSON')?['fileListing']?['Files']",
                "runAfter": {
                    "Parse_file_listing_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_certificate_value_from_MSI": {
                "inputs": {
                    "authentication": {
                        "audience": "https://vault.azure.net",
                        "type": "ManagedServiceIdentity"
                    },
                    "method": "GET",
                    "uri": "https://__$$KEYVAULTNAME$$__.vault.azure.net/secrets/logicapptest-certificate?api-version=2016-10-01"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "outputs"
                        ]
                    }
                },
                "type": "Http"
            },
            "Get_file_listing_from_API": {
                "inputs": {
                    "authentication": {
                        "pfx": "@body('Parse_certificate_request_JSON')?['value']",
                        "type": "ClientCertificate"
                    },
                    "method": "GET",
                    "uri": "https://__$$WEBAPPNAME$$__.azurewebsites.net/filetransfer/files"
                },
                "runAfter": {
                    "Parse_certificate_request_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_certificate_request_JSON": {
                "inputs": {
                    "content": "@body('Get_certificate_value_from_MSI')",
                    "schema": {
                        "properties": {
                            "attributes": {
                                "properties": {
                                    "created": {
                                        "type": "integer"
                                    },
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "exp": {
                                        "type": "integer"
                                    },
                                    "nbf": {
                                        "type": "integer"
                                    },
                                    "recoveryLevel": {
                                        "type": "string"
                                    },
                                    "updated": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "contentType": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "kid": {
                                "type": "string"
                            },
                            "managed": {
                                "type": "boolean"
                            },
                            "value": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_certificate_value_from_MSI": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "secureData": {
                        "properties": [
                            "inputs"
                        ]
                    }
                },
                "type": "ParseJson"
            },
            "Parse_file_listing_JSON": {
                "inputs": {
                    "content": "@body('Get_file_listing_from_API')",
                    "schema": {
                        "properties": {
                            "fileListing": {
                                "properties": {
                                    "Files": {
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "size"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Receiver": {
                                        "type": "string"
                                    },
                                    "Sender": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_file_listing_from_API": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}